@import "_config.scss";

@import "pages/integration.scss";
@import "pages/upload.scss";
@import "pages/homepage.scss";

@import "components/toolbar.scss";
@import "components/menu.scss";
@import "components/header.scss";
@import "components/footer.scss";


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: white;
  font-weight: 400;
  font-style: normal;
  background: #202020;
}

a {
  text-decoration: none;
  @include transition(.4s ease-in-out);
  cursor: pointer;

  &:hover {
    color: $red;
    text-decoration: none;
    @include transition(.4s ease-in-out);
  }
}

.container-fluid {
  margin: 0;
  padding: 0;
  line-height: 24px;
}

.maincontainer {
  margin: 0;

  .banner {
    font-size: 40px;
    text-align: center;
    background: url("../images/snow_alt.jpg");
    height: 100px;
    padding-top: 30px;
    margin-top: 30px;
  }

  .other {
    padding: 60px;
    padding-bottom: 0px;
    margin-bottom: 0;
  }

  .table {
    padding: 60px;
    padding-top: 0px;
  }
}

.contentbox  {
  position: relative;
  font-size: 40px;
  text-align: center;
  vertical-align: middle;

  .banner {
    margin-top: 30px;
    padding-top: 50px;
    background: url("../images/snow_alt.jpg");
    height: 200px;
  }

  .cards {
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 60px 60px 60px 60px;
  }

  .card {
    /* Add shadows to create the "card" effect */
    position: relative;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    width: 250px;
    height: 230px;
    background: #d0d0d0;
    padding-top: 10px;
    margin: 25px;
    color:black;
  }

  /* On mouse-over, add a deeper shadow */
  .card:hover {
    cursor: default;
    color: #882288;
    transition: 0.6s;
    box-shadow: 0 4px 8px 0 rgba(180,180,180,1.5);
  }

  /* Add some padding inside the card container */
  .container {
    position: relative;
    top: 10%;
    font-size: 20px;
  }
}