@import "_config.scss";

@import "pages/integration.scss";
@import "pages/upload.scss";
@import "pages/homepage.scss";

@import "components/toolbar.scss";
@import "components/menu.scss";
@import "components/header.scss";
@import "components/footer.scss";


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: white;
  font-weight: 400;
  font-style: normal;
  background: #202020;
}

a {
  text-decoration: none;
  @include transition(.4s ease-in-out);
  cursor: pointer;

  &:hover {
    color: $red;
    text-decoration: none;
    @include transition(.4s ease-in-out);
  }
}

.container-fluid {
  margin: 0;
  padding: 0;
  line-height: 24px;
}

.maincontainer {
  margin: 0;

  .banner {
    font-size: 40px;
    text-align: center;
    background: url("../images/snow_alt.jpg");
    height: 100px;
    padding-top: 30px;
    margin-top: 30px;
  }

  .other {
    padding: 60px;
    padding-bottom: 0px;
    margin-bottom: 0;
  }

  .table {
    padding: 60px;
    padding-top: 0px;
  }
}