@import "../_config.scss";

/* menu */
.menucontent {

  .menu-item, .menu-item--small {
    color: white;
    margin-bottom: 5px;
  }

  a {
    &:hover, &:active {
      color: $red;
      transition:.7s;
    }
  }
}