/*
Vars
 */
/*
Vars
 */
.dataselection_overall .datasetselection {
  display: inline-block;
  padding: 0px;
  width: 50%;
  margin-bottom: 20px; }

.dataselection_overall .first {
  padding-right: 10px; }

.dataselection_overall .rules {
  display: inline-block;
  padding: 0px;
  width: 50%;
  margin-bottom: 20px; }

.integrationdiv {
  border: white;
  border-radius: 6px;
  border-style: solid;
  border-width: 2px;
  color: white;
  padding: 30px;
  padding-top: 0px; }
  .integrationdiv .showdiv .columns {
    display: inline-block;
    margin-right: 50px;
    text-align: center; }
    .integrationdiv .showdiv .columns .togglebutton {
      width: 300px;
      display: inline-block;
      border-style: solid;
      border-color: white;
      padding: 10px;
      border-radius: 10px;
      margin: 5px; }
    .integrationdiv .showdiv .columns .togglebutton:hover {
      cursor: pointer;
      background-color: #505050;
      border-color: #505050;
      color: white;
      transition: 0.8s;
      box-shadow: 0 4px 8px 0 #646464; }

.integrationrules {
  margin-top: 23px; }
  .integrationrules form input {
    display: block;
    width: 100%;
    font-size: 18px;
    padding: 3px 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ddd; }
  .integrationrules form input.error {
    border-color: red; }
  .integrationrules form button {
    display: block;
    width: 100%;
    appearance: none;
    border-radius: 5px;
    background-color: #84c00c;
    color: #fff;
    border: none;
    font-size: 18px;
    height: 40px;
    margin-top: 10px; }
  .integrationrules form button:hover {
    background-color: #669509; }
  .integrationrules form button:disabled {
    background-color: #dbf99f;
    color: #333; }
  .integrationrules form button.small {
    display: inline-block;
    width: auto;
    padding: 0 20px;
    background-color: #777;
    font-size: 14px; }
  .integrationrules form button.small:hover {
    background-color: #999; }
  .integrationrules .rule {
    display: flex;
    align-items: center; }
  .integrationrules .rule button {
    margin: 0;
    margin-left: 10px; }

.integrationmenu {
  margin-top: 23px;
  display: block; }
  .integrationmenu .buttonstyle {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px; }

.integrationinfo {
  margin-top: 10px;
  margin-bottom: 40px;
  display: block; }

/*
Vars
 */
.exchangeable {
  margin-bottom: 100px; }
  .exchangeable .link {
    background-color: #505050;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px; }
  .exchangeable .link:hover {
    color: #ff1755;
    transition: 1s; }

/*
Vars
 */
.homescreen {
  background: url("../images/traffic_background_alt.jpg");
  margin: 0;
  padding: 0;
  color: white;
  height: 670px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 5px 5px 20px white;
  font-size: 25px; }
  .homescreen .homepagecontent {
    position: relative;
    top: 35%;
    background: rgba(0, 0, 0, 0.6);
    padding: 50px; }
    .homescreen .homepagecontent a {
      line-height: normal;
      color: white; }
    .homescreen .homepagecontent a:hover {
      text-decoration: none;
      color: #ff1755;
      -webkit-transition: 0.4s ease-in-out;
      -moz-transition: 0.4s ease-in-out;
      transition: 0.4s ease-in-out; }
    .homescreen .homepagecontent ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 10px; }
    .homescreen .homepagecontent h1 {
      font-family: 'Open Sans', sans-serif;
      font-size: 54px; }

/*
Vars
 */
/* toolbar */
.toolbar {
  height: 40px;
  background: #d0d0d0;
  color: black; }
  .toolbar nav,
  .toolbar nav ul,
  .toolbar nav ul li {
    margin: 0;
    padding: 0; }
  .toolbar nav {
    position: absolute;
    top: 70px;
    right: 12px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%); }
    .toolbar nav ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 20px; }
    .toolbar nav a {
      font-size: 19px;
      line-height: normal;
      color: black; }
      .toolbar nav a:hover, .toolbar nav a:active {
        color: #ff1755;
        transition: .7s; }

/*
Vars
 */
/* menu */
.menucontent .menu-item, .menucontent .menu-item--small {
  color: white;
  margin-bottom: 5px; }

.menucontent a:hover, .menucontent a:active {
  color: #ff1755;
  transition: .7s; }

/*
Vars
 */
/* header */
header {
  position: relative;
  display: block;
  width: 100%;
  background: #303031;
  color: azure;
  height: 50px; }
  header .logo {
    position: absolute;
    top: 50%;
    left: 15px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%); }
  header nav,
  header nav ul,
  header nav ul li {
    margin: 0;
    padding: 0; }
  header nav {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%); }
    header nav ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 20px; }
    header nav.last {
      margin: 0; }
    header nav a {
      font-size: 19px;
      line-height: normal;
      color: white; }

/* search */
.search-container .searchbox {
  width: 300px; }
  .search-container .searchbox label {
    width: 100%;
    position: relative; }
    .search-container .searchbox label:before {
      content: "\f4a4";
      position: relative;
      font-weight: lighter;
      bottom: 2px;
      left: 0;
      font-size: 20px; }
  .search-container .searchbox .twitter-typeahead,
  .search-container .searchbox .typeahead {
    width: 100%;
    background: none;
    border-bottom: solid 1px white; }
    .search-container .searchbox .twitter-typeahead .form-control,
    .search-container .searchbox .typeahead .form-control {
      animation: fadein ease-in 0.5s;
      border: none; }
    .search-container .searchbox .twitter-typeahead .searchbox__input.tt-hint,
    .search-container .searchbox .typeahead .searchbox__input.tt-hint {
      opacity: 0 !important; }
    .search-container .searchbox .twitter-typeahead .tt-input,
    .search-container .searchbox .typeahead .tt-input {
      color: white; }

.tt-dropdown-menu {
  animation: fadein ease-out 0.5s;
  min-width: 100%;
  margin-top: 2px;
  padding: 0px 0;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.175); }

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px; }
  .tt-suggestion p {
    margin: 5px 0; }
  .tt-suggestion:hover {
    cursor: pointer; }

/*
Vars
 */
/* footer */
footer .footercontent {
  width: 100%;
  background: #505050; }
  footer .footercontent .footerbox {
    display: inline-block;
    text-align: left;
    border-right: 1px solid #303030;
    padding: 10px;
    padding-top: 20px;
    width: 300px; }
    footer .footercontent .footerbox ul li {
      list-style: none;
      list-style-position: inherit;
      margin-right: 30px; }
      footer .footercontent .footerbox ul li.first {
        font-style: italic;
        font-size: 20px; }

footer .creditsgithub {
  padding-top: 30px;
  text-align: center;
  position: relative;
  background: #202020;
  text-shadow: 1px 1px 1px black; }
  footer .creditsgithub span {
    display: block;
    padding: 0 0 10px; }
    footer .creditsgithub span i {
      margin-right: 5px; }
  footer .creditsgithub a {
    color: #b3b3b3;
    transition: .7s;
    padding: 8px; }
    footer .creditsgithub a:hover, footer .creditsgithub a:active {
      color: #ff1755;
      transition: .7s; }

.ReactTable {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid rgba(250, 250, 250, 0.2); }

.ReactTable * {
  box-sizing: border-box; }

.ReactTable .rt-table {
  -webkit-box-flex: 1;
  -ms-flex: auto 1;
  flex: auto 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
  border-collapse: collapse;
  overflow: auto; }

.ReactTable .rt-thead {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.ReactTable .rt-thead.-headerGroups {
  background: rgba(20, 20, 20, 0.03);
  border-bottom: 1px solid rgba(250, 250, 250, 0.2); }

.ReactTable .rt-thead.-filters {
  border-bottom: 1px solid rgba(250, 250, 250, 0.05); }

.ReactTable .rt-thead.-filters input, .ReactTable .rt-thead.-filters select {
  border: 1px solid rgba(250, 250, 250, 0.1);
  background: #fff;
  padding: 5px 7px;
  font-size: inherit;
  border-radius: 3px;
  font-weight: normal;
  outline: none; }

.ReactTable .rt-thead.-filters .rt-th {
  border-right: 1px solid rgba(250, 250, 250, 0.02); }

.ReactTable .rt-thead.-header {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15); }

.ReactTable .rt-thead .rt-tr {
  text-align: center; }

.ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td {
  padding: 5px 5px;
  line-height: normal;
  position: relative;
  border-right: 1px solid rgba(250, 250, 250, 0.05);
  transition: box-shadow 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: inset 0 0 0 0 transparent; }

.ReactTable .rt-thead .rt-th.-sort-asc, .ReactTable .rt-thead .rt-td.-sort-asc {
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.6); }

.ReactTable .rt-thead .rt-th.-sort-desc, .ReactTable .rt-thead .rt-td.-sort-desc {
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.6); }

.ReactTable .rt-thead .rt-th.-cursor-pointer, .ReactTable .rt-thead .rt-td.-cursor-pointer {
  cursor: pointer; }

.ReactTable .rt-thead .rt-th:last-child, .ReactTable .rt-thead .rt-td:last-child {
  border-right: 0; }

.ReactTable .rt-thead .rt-resizable-header {
  overflow: visible; }

.ReactTable .rt-thead .rt-resizable-header:last-child {
  overflow: hidden; }

.ReactTable .rt-thead .rt-resizable-header-content {
  overflow: hidden;
  text-overflow: ellipsis; }

.ReactTable .rt-thead .rt-header-pivot {
  border-right-color: #f7f7f7; }

.ReactTable .rt-thead .rt-header-pivot:after, .ReactTable .rt-thead .rt-header-pivot:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.ReactTable .rt-thead .rt-header-pivot:after {
  border-color: rgba(255, 255, 255, 0.1);
  border-left-color: #fff;
  border-width: 8px;
  margin-top: -8px; }

.ReactTable .rt-thead .rt-header-pivot:before {
  border-color: rgba(250, 250, 250, 0.1);
  border-left-color: #f7f7f7;
  border-width: 10px;
  margin-top: -10px; }

.ReactTable .rt-tbody {
  -webkit-box-flex: 99999;
  -ms-flex: 99999 1 auto;
  flex: 99999 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: auto; }

.ReactTable .rt-tbody .rt-tr-group {
  border-bottom: solid 1px rgba(250, 250, 250, 0.05); }

.ReactTable .rt-tbody .rt-tr-group:last-child {
  border-bottom: 0; }

.ReactTable .rt-tbody .rt-td {
  border-right: 1px solid rgba(250, 250, 250, 0.02); }

.ReactTable .rt-tbody .rt-td:last-child {
  border-right: 0; }

.ReactTable .rt-tbody .rt-expandable {
  cursor: pointer; }

.ReactTable .rt-tr-group {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.ReactTable .rt-tr {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.ReactTable .rt-th, .ReactTable .rt-td {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 7px 5px;
  overflow: hidden;
  transition: .3s ease;
  transition-property: width, min-width, padding, opacity; }

.ReactTable .rt-th.-hidden, .ReactTable .rt-td.-hidden {
  width: 0 !important;
  min-width: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  opacity: 0 !important; }

.ReactTable .rt-expander {
  display: inline-block;
  position: relative;
  margin: 0;
  color: transparent;
  margin: 0 10px; }

.ReactTable .rt-expander:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
  transform: translate(-50%, -50%) rotate(-90deg);
  border-left: 5.04px solid transparent;
  border-right: 5.04px solid transparent;
  border-top: 7px solid rgba(250, 250, 250, 0.8);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer; }

.ReactTable .rt-expander.-open:after {
  -webkit-transform: translate(-50%, -50%) rotate(0);
  transform: translate(-50%, -50%) rotate(0); }

.ReactTable .rt-resizer {
  display: inline-block;
  position: absolute;
  width: 36px;
  top: 0;
  bottom: 0;
  right: -18px;
  cursor: col-resize;
  z-index: 10; }

.ReactTable .rt-tfoot {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15); }

.ReactTable .rt-tfoot .rt-td {
  border-right: 1px solid rgba(250, 250, 250, 0.05); }

.ReactTable .rt-tfoot .rt-td:last-child {
  border-right: 0; }

.ReactTable.-striped .rt-tr.-odd {
  background: rgba(100, 100, 100, 0.1); }

.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
  background: rgba(100, 100, 100, 0.3); }

.ReactTable .-pagination {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 3px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(250, 250, 250, 0.2); }

.ReactTable .-pagination input, .ReactTable .-pagination select {
  border: 1px solid rgba(250, 250, 250, 0.2);
  background: #fff;
  padding: 5px 7px;
  font-size: inherit;
  border-radius: 3px;
  font-weight: normal;
  outline: none; }

.ReactTable .-pagination .-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 3px;
  padding: 6px;
  font-size: 1em;
  color: #fafafa;
  background: rgba(100, 100, 100, 0.2);
  transition: all .1s ease;
  cursor: pointer;
  outline: none; }

.ReactTable .-pagination .-btn[disabled] {
  opacity: .5;
  cursor: default; }

.ReactTable .-pagination .-btn:not([disabled]):hover {
  background: rgba(0, 0, 0, 0.3);
  color: #fff; }

.ReactTable .-pagination .-previous, .ReactTable .-pagination .-next {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center; }

.ReactTable .-pagination .-center {
  -webkit-box-flex: 1.5;
  -ms-flex: 1.5;
  flex: 1.5;
  text-align: center;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.ReactTable .-pagination .-pageInfo {
  display: inline-block;
  margin: 3px 10px;
  white-space: nowrap; }

.ReactTable .-pagination .-pageJump {
  display: inline-block; }

.ReactTable .-pagination .-pageJump input {
  width: 70px;
  text-align: center; }

.ReactTable .-pagination .-pageSizeOptions {
  margin: 3px 10px; }

.ReactTable .rt-noData {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  transition: all .3s ease;
  z-index: 1;
  pointer-events: none;
  padding: 20px;
  color: rgba(250, 250, 250, 0.5); }

.ReactTable .-loading {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  transition: all .3s ease;
  z-index: -1;
  opacity: 0;
  pointer-events: none; }

.ReactTable .-loading > div {
  position: absolute;
  display: block;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 0;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(-52%);
  transform: translateY(-52%);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.ReactTable .-loading.-active {
  opacity: 1;
  z-index: 2;
  pointer-events: all; }

.ReactTable .-loading.-active > div {
  -webkit-transform: translateY(50%);
  transform: translateY(50%); }

.ReactTable .rt-resizing .rt-th, .ReactTable .rt-resizing .rt-td {
  transition: none !important;
  cursor: col-resize;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: white;
  font-weight: 400;
  font-style: normal;
  background: #202020; }

a {
  text-decoration: none;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  cursor: pointer; }
  a:hover {
    color: #ff1755;
    text-decoration: none;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out; }

.container-fluid {
  margin: 0;
  padding: 0;
  line-height: 24px; }

.maincontainer {
  margin: 0; }
  .maincontainer .banner {
    font-size: 40px;
    text-align: center;
    background: url("../images/snow_alt.jpg");
    height: 100px;
    padding-top: 30px;
    margin-top: 30px; }
  .maincontainer .other {
    padding: 60px;
    padding-bottom: 0px;
    margin-bottom: 50px; }
  .maincontainer .table {
    padding: 60px;
    padding-top: 0px; }

.contentbox {
  position: relative;
  font-size: 40px;
  text-align: center;
  vertical-align: middle;
  /* On mouse-over, add a deeper shadow */
  /* Add some padding inside the card container */ }
  .contentbox .banner {
    margin-top: 30px;
    padding-top: 50px;
    background: url("../images/snow_alt.jpg");
    height: 200px; }
  .contentbox .cards {
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 60px 60px 60px 60px; }
  .contentbox .card {
    /* Add shadows to create the "card" effect */
    position: relative;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    width: 250px;
    height: 230px;
    background: #d0d0d0;
    padding-top: 10px;
    margin: 25px;
    color: black; }
  .contentbox .card:hover {
    cursor: default;
    color: #882288;
    transition: 0.6s;
    box-shadow: 0 4px 8px 0 #b4b4b4; }
  .contentbox .container {
    position: relative;
    top: 10%;
    font-size: 20px; }
