/*
Vars
 */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: white;
  font-weight: 400;
  font-style: normal;
  background: #202020; }

a {
  text-decoration: none;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  cursor: pointer; }
  a:hover {
    color: #ff1755;
    text-decoration: none;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out; }

.container-fluid {
  margin: 0;
  padding: 0;
  line-height: 24px; }

.homescreen {
  background: url("../images/traffic_background_alt.jpg");
  margin: 0;
  padding: 0;
  color: white;
  height: 730px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 5px 5px 20px white;
  font-size: 25px; }
  .homescreen .content {
    position: relative;
    top: 35%;
    background: rgba(0, 0, 0, 0.6);
    padding: 50px; }
    .homescreen .content a {
      line-height: normal;
      color: white; }
    .homescreen .content a:hover {
      text-decoration: none;
      color: #ff1755;
      -webkit-transition: 0.4s ease-in-out;
      -moz-transition: 0.4s ease-in-out;
      transition: 0.4s ease-in-out; }
    .homescreen .content ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 10px; }
    .homescreen .content h1 {
      font-family: 'Open Sans', sans-serif;
      font-size: 54px; }

/* header */
header {
  position: relative;
  display: block;
  width: 100%;
  background: #303031;
  color: azure;
  height: 50px; }
  header .logo {
    position: absolute;
    top: 50%;
    left: 15px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%); }
  header nav,
  header nav ul,
  header nav ul li {
    margin: 0;
    padding: 0; }
  header nav {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%); }
    header nav ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 20px; }
    header nav.last {
      margin: 0; }
    header nav a {
      font-size: 19px;
      line-height: normal;
      color: white; }

/* search */
.search-container .searchbox {
  width: 300px; }
  .search-container .searchbox label {
    width: 100%;
    position: relative; }
    .search-container .searchbox label:before {
      content: "\f4a4";
      position: relative;
      font-weight: lighter;
      bottom: 2px;
      left: 0;
      font-size: 20px; }
  .search-container .searchbox .twitter-typeahead,
  .search-container .searchbox .typeahead {
    width: 100%;
    background: none;
    border-bottom: solid 1px white; }
    .search-container .searchbox .twitter-typeahead .form-control,
    .search-container .searchbox .typeahead .form-control {
      animation: fadein ease-in 0.5s;
      border: none; }
    .search-container .searchbox .twitter-typeahead .searchbox__input.tt-hint,
    .search-container .searchbox .typeahead .searchbox__input.tt-hint {
      opacity: 0 !important; }
    .search-container .searchbox .twitter-typeahead .tt-input,
    .search-container .searchbox .typeahead .tt-input {
      color: white; }

.tt-dropdown-menu {
  animation: fadein ease-out 0.5s;
  min-width: 100%;
  margin-top: 2px;
  padding: 0px 0;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.175); }

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px; }
  .tt-suggestion p {
    margin: 5px 0; }
  .tt-suggestion:hover {
    cursor: pointer; }

/* footer */
footer .footercontent {
  width: 100%;
  background: #505050; }
  footer .footercontent .footerbox {
    display: inline-block;
    text-align: left;
    border-right: 1px solid #303030;
    padding: 10px;
    padding-top: 20px;
    width: 300px; }
    footer .footercontent .footerbox ul li {
      list-style: none;
      list-style-position: inherit;
      margin-right: 30px; }
      footer .footercontent .footerbox ul li.first {
        font-style: italic;
        font-size: 20px; }

footer .creditsgithub {
  padding-top: 30px;
  text-align: center;
  position: relative;
  background: #202020;
  text-shadow: 1px 1px 1px black; }
  footer .creditsgithub span {
    display: block;
    padding: 0 0 10px; }
    footer .creditsgithub span i {
      margin-right: 5px; }
  footer .creditsgithub a {
    color: #b3b3b3;
    transition: .7s;
    padding: 8px; }
    footer .creditsgithub a:hover, footer .creditsgithub a:active {
      color: #ff1755;
      transition: .7s; }

/* toolbar */
.toolbar {
  height: 40px;
  background: #d0d0d0;
  color: black; }
  .toolbar nav,
  .toolbar nav ul,
  .toolbar nav ul li {
    margin: 0;
    padding: 0; }
  .toolbar nav {
    position: absolute;
    top: 70px;
    right: 12px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%); }
    .toolbar nav ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 20px; }
    .toolbar nav a {
      font-size: 19px;
      line-height: normal;
      color: black; }
      .toolbar nav a:hover, .toolbar nav a:active {
        color: #ff1755;
        transition: .7s; }

/* menu */
.menucontent .menu-item, .menucontent .menu-item--small {
  color: white;
  margin-bottom: 5px; }

.menucontent a:hover, .menucontent a:active {
  color: #ff1755;
  transition: .7s; }

.contentbox {
  position: relative;
  font-size: 40px;
  text-align: center;
  vertical-align: middle;
  /* On mouse-over, add a deeper shadow */
  /* Add some padding inside the card container */ }
  .contentbox .banner {
    margin-top: 30px;
    padding-top: 50px;
    background: url("../images/snow_alt.jpg");
    height: 200px; }
  .contentbox .cards {
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 60px 60px 120px 60px; }
  .contentbox .card {
    /* Add shadows to create the "card" effect */
    position: relative;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    width: 250px;
    height: 230px;
    background: #d0d0d0;
    padding-top: 10px;
    margin: 25px;
    color: black; }
  .contentbox .card:hover {
    width: 255px;
    height: 235px;
    cursor: default;
    color: #882288;
    transition: 0.8s;
    box-shadow: 0 4px 8px 0 #b4b4b4; }
  .contentbox .container {
    position: relative;
    top: 10%;
    font-size: 20px; }

.datacontainer {
  margin: 0; }
  .datacontainer .banner {
    font-size: 40px;
    text-align: center;
    background: url("../images/snow_alt.jpg");
    height: 100px;
    padding-top: 30px;
    margin-top: 30px; }
  .datacontainer .other {
    margin: 60px;
    margin-bottom: 0; }
  .datacontainer .table {
    padding: 60px;
    padding-top: 0; }
